<h2><%= "#{@cases["total_entries"]} Case".pluralize(@cases["total_entries"]) %></h2>

<ul>
	<% @cases["_embedded"]["entries"].each do |entry| %>
		<li style="margin-bottom: 10px;">
			<%= entry["subject"] %>
			<br />
			<%= (entry["blurb"] || "").truncate(100) %>
			<br />
			Labels: <%= entry["labels"].join(", ") %>
		</li>
	<% end %>
</ul>